.fr {
    float: right
}


.load-frame {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
body {
    padding-bottom: 100px;
}

h2 {
    font-size: 22px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h2 small {
    font-size: 14px;
}

.search-panel {
    border-bottom: 1px solid #ccc;
}

.button-sp-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
}

.button-sp-area a.weui-btn {
    width: 40%;
    float: left;
    display: block;
    margin-top: 0;
    margin-left: 6%;
    height: 40px;
    line-height: 40px;
}

.question .title {
    font-size: 18px;
    margin-bottom: 13px;
}

.question {
    padding: 14px;
}

.question ul {
    line-height: 30px;
    font-size: 16px;
}

.f100{ background:url("../images/100f.png")/*tpa=images/100f.png*/ no-repeat ; background-size: width:169px;height:116px;}
 .f90{  background:url("../images/90f.png")/*tpa=images/90f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f80{  background:url("../images/80f.png")/*tpa=images/80f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f70{  background:url("../images/70f.png")/*tpa=images/70f.png*/ no-repeat ; background-size: width:169px;height:116px;}
 .f60{  background:url("../images/60f.png")/*tpa=images/60f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f50{  background:url("../images/50f.png")/*tpa=images/50f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f40{  background:url("../images/40f.png")/*tpa=images/40f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f30{  background:url("../images/30f.png")/*tpa=images/30f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f20{  background:url("../images/20f.png")/*tpa=images/20f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f10{  background:url("../images/10f.png")/*tpa=images/10f.png*/ no-repeat ; background-size: width:169px;height:116px;}
.f0{  background:url("../images/0f.png")/*tpa=images/0f.png*/ no-repeat ; background-size: width:169px;height:116px; }
.right { background:url("../images/right.png")/*tpa=images/right.png*/ no-repeat; width:120px; height:120px;}
 .wrong { background:url("../images/wrong.png")/*tpa=images/wrong.png*/ no-repeat;  width:120px; height:120px;}

.tip50 {
    padding: 15px;
}

.search-list > li {
    border-bottom: 1px solid #ccc;
}


